/* 图注加个圈 */
.jg-caption-visible::before {
    content: "⊙ ";
} 
.fancybox-caption__body::before {
    content: "⊙ ";
} 
.img-alt.is-center::before {
    content: "⊙ ";
}

/* 导航栏 */
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}

#nav *::after{
    background-color: transparent!important;
}

.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}

#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

#nav {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}


/* 页脚透明 */
#footer, #footer:before {
  background: transparent!important
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
